page-online-list {
  item-md.form {
    padding-left: 0px !important;
  }

  .list-md > .item-block:last-child .item-inner,
  .list-md > .item-wrapper:last-child .item-inner {
    border-bottom: 1px solid #dedede !important;
  }
  .input-wrapper {
    padding-left: 16px;
  }
}
