page-profile-picture {
    .profile-photo {
        margin-top: -75px;
        img {
            margin: auto;
            width: 128px;
            height: 128px;
            border-radius: 50%;
            box-shadow: 0px 4px 4px #a3a3a3;
        }
    }
}
