page-profile-id {
    .putih {
        margin-top: 25px;
        background-color: white;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
        color: #333;

        &.activated {
            background-color: rgb(220, 220, 220);
        }
    }
    .profile-info {
        position: relative;
        z-index: 2;
        margin-top: -64px;
        text-align: center;
        .profile-nama {
            font-size: 18px;
            font-weight: bold;
            max-width: 80%;
        }
    }
    .profile-photo img {
        margin: auto;
        width: 128px;
        height: 128px;
        border-radius: 50%;
        box-shadow: 0px 4px 4px #a3a3a3;
    }
}
